body{
  /* cursor: none; */
}
#office img {
    max-width: 100%;
  }
  
  
  /* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    position: fixed;
    right: 15px;
    bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px;
  }
  
  .page-footer a {
    margin-left: 4px;
  }
  .sect{
    background-image: url('../../assets/img/pan3.jpg');
    /* background-attachment: fixed; */
    background-position: center top;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
  }
  .sect1{
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
    /* display: flex; */
    /* justify-content: space-evenly; */
    font-weight: normal;
  }
  .sect2{
    background-image: url('../../assets/img/PanaderiaMagallaesPan17.JPG');
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
    font-size: 30px;
  }
  .sect2 h1{
    font-size: 50px;
  }
  .sect3{
    background-image: url('../../assets/img/panadero.jpg');
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
  }
  .downSvg{
    position: absolute;
    bottom: 10vh;
    left: 5vw;
  }
  .sect3 h1 span{
    border-bottom: 2px solid white;
    font-weight: bold;
  }
  .sect1,.sect2,.sect3{
    padding-top: 40vh;
  }
  .sect1 h1,
  .sect2 h1,
  .sect3 h1 {
    padding-left: 10vw;
    font-size: 7vw;
    width: 70vw;
    text-align: left;
    font-weight: bold;
  }
  @media (max-width:800px) {
    .sect1,.sect2,.sect3{
      display: block;
      padding-top: 40vh;
    }
    
    .InfoSect1{
      margin-top: 30px !important;
    }
      .sect1 h1,.sect2 h1,.sect3 h1{
      /* width: 100vw !important; */
      /* text-align: center !important; */
      /* margin-left: 0 !important; */
      /* font-size: 14vw !important; */
      padding-left: 0vw;
      font-size: 12vw;
      width: 70vw;
      text-align: left;
      margin-left: 50px;
      font-weight: bold;
      /* fontSize: "8vw",
          width:"80vw",
          textAlign:"left",
          marginLeft:"100px",
          fontWeight:"bold" */
    
    }
    .sect3 h1 span{
      font-size: 20vw;
      border-bottom: 2px solid white;
    }
  }